.fade-enter-active,
.fade-leave-active{
    transition: opacity 1s;
}
.fade-enter,
.fade-leave-to{
    opacity: 0; 
}
.hand-enter-active,
.hand-leave-active{
    transition: opacity 1s;
}
.hand-enter,
.hand-leave-to{
    opacity: 0; 
}
.hand-enter-active .wrapper,
.hand-leave-active .wrapper{
    transition: transform .8s cubic-bezier(.08, .74, .34, 1);
    transform-origin: bottom center;
}
.hand-enter .wrapper,
.hand-leave-to .wrapper{
    transform: rotateX(90deg);
}
.hand-enter-active .card,
.hand-leave-active .card{
    transition: margin .8s cubic-bezier(.08, .74, .34, 1);
}
.hand-enter .card,
.hand-leave-to .card{
    margin: 0 -100px;
}
.card{
    /* 用于进入、移动和鼠标悬停怼动画 */
    transition: all .3 s;
}
.card-enter{
    opacity: 0;
    /* 从右边划入 */
    transform: scale(.8) translateX(100px);
}
.card-leave-active{
    /* 离开过渡的时间不同 */
    transition: all 1s, opacity .5s .5s;
    /* 保持水平位置不变 */
    position: absolute !important;
    /* 将玩家打出怼卡牌绘制于其他卡牌之上 */
    z-index: 10;
    /* 在过渡期间不允许单机 */
    pointer-events: none;
}
.card-leave-to{
    opacity: 0;
    /* 卡牌上升怼同时放大 */
    transform: translateX(-106px) translateY(-300px) scale(1.5);
}
/* 浮层动画 */
.zoom-enter-active,
.zoom-leave-active{
  transition: opacity .3s, transform .3s;  
}
.zoom-enter,
.zoom-leave-to{
    opacity: 0;
    transform: scale(.7);
}